---
layout: default
---

<section class="it-hero-wrapper" aria-label="In evidenza">
   <div class="img-responsive-wrapper">
      <div class="img-responsive">
         <div class="img-wrapper"><img src="/nnx.jpg" title="" alt="Uffici"></div>
      </div>
   </div>
</section>

<div class="container">
<div class="alert alert-danger" role="alert">
  È in corso la <b>Procedura di Scrutinio</b>per la realizzazione del centro giovani.
   <a href="/procedure-di-scutinio/cg/"> Scopri di più </a>
</div>

{{ content }}

<div class="row">
  <div class="col-12 col-lg-6">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card card-bg">
        <div class="card-body">
          <h3 class="card-title h5 ">Il presidente</h3>
          <p class="card-text font-serif">Scopri il Presidente: è lui che guida il progetto, coordina il team e prende le decisioni importanti, occupandosi anche delle funzioni organizzative e comunicative tipiche del segretario.</p>
          <a class="read-more" href="/presidente/">
            <span class="text">Leggi di più</span>
          </a>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>
</div>
</div>
