---
layout: default
---

<main>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">

        <div class="cmp-heading pb-3 pb-lg-4">
          <h1 class="fw-normal fs-2">{{ page.nome }}</h1>
          {% if page.ruolo %}
            <h4 class="text-muted">{{ page.ruolo }}</h4>
          {% endif %}
        </div>

        {% if page.foto %}
        <figure class="figure px-0 img-full mb-4">
          <img src="{{ page.foto }}" alt="Foto di {{ page.nome }}" class="figure-img img-fluid rounded">
        </figure>
        {% endif %}

        <section class="it-page-section mb-4">
          {% if page.descrizione %}
          <h3>Descrizione</h3>
          <div class="richtext-wrapper lora">
            <p>{{ page.descrizione }}</p>
          </div>
          {% endif %}
        </section>

        <section class="it-page-section mb-4">
          {% if page.incarico %}
          <h3>Incarico</h3>
          <div class="richtext-wrapper lora">
            <p>{{ page.incarico }}</p>
          </div>
          {% endif %}
        </section>

        <section class="it-page-section mb-4">
          {% if page.data_insediamento %}
          <h3>Data di insediamento</h3>
          <div class="richtext-wrapper lora">
            <p>{{ page.data_insediamento | date: "%d %B %Y" }}</p>
          </div>
          {% endif %}
        </section>

        <section class="it-page-section mb-4">
          {% if page.organizzazione %}
          <h3>Organizzazione</h3>
          <div class="row">
            <div class="col-12">
              <div class="richtext-wrapper lora">
                <p>{{ page.organizzazione }}</p>
              </div>
            </div>
          </div>
          {% endif %}
        </section>

        <section class="it-page-section mb-4">
          {% if page.competenze %}
          <h3>Competenze</h3>
          <div class="richtext-wrapper lora">
            <p>{{ page.competenze }}</p>
          </div>
          {% endif %}
        </section>

        <section class="it-page-section mb-4">
          {% if page.contatti %}
          <h3>Contatti</h3>
          <div class="richtext-wrapper lora">
            <p>{{ page.contatti }}</p>
          </div>
          {% endif %}
        </section>

        {% if page.documenti %}
        <section class="it-page-section mb-4">
          <h3>Documenti</h3>
          <div class="it-list-wrapper">
            <ul class="it-list">
              {% for doc in page.documenti %}
              <li class="it-list-item d-flex justify-content-between align-items-center">
                <div>
                  <a href="{{ doc.link }}" target="_blank" rel="noopener">{{ doc.nome_file }}</a>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </section>
        {% endif %}

      </div>
    </div>
  </div>
</main>
